workflows/Workflow Progress 4.json
{
  "name": "Workflow Progress 4",
  "nodes": [
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n",
          "mode": "list",
          "cachedResultName": "n8n"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        480,
        -176
      ],
      "id": "a86e6804-5160-457f-8b69-d4c39c50aa97",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NWVHOwN5fIDXSZ0d",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOpenAi",
      "typeVersion": 1.2,
      "position": [
        368,
        48
      ],
      "id": "f6381a3c-d575-43cf-b059-92ca5abb91cc",
      "name": "Embeddings OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2uvqmAcIYmjuOE7e",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        736,
        16
      ],
      "id": "adfaedd8-4d10-43d8-99ab-9a0e12d8be1b",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 200,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        688,
        176
      ],
      "id": "6d3f206f-8ffc-4a48-91cc-bad7ad7618ed",
      "name": "Recursive Character Text Splitter1"
    },
    {
      "parameters": {
        "operation": "download",
        "fileId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        336,
        -144
      ],
      "id": "dc09eea6-e1eb-46ec-9a07-347e8d39fd56",
      "name": "Download file",
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zDvo1k70I9AFa128",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "resource": "fileFolder",
        "queryString": "=     {{ $json.query || $json.body?.query || $json.question || '*' }}",
        "returnAll": true,
        "filter": {
          "folderId": {
            "__rl": true,
            "value": "1zG8MnGARdtwUZ9aOWGvmtMVOyhbNLF3o",
            "mode": "id"
          }
        },
        "options": {
          "fields": [
            "*"
          ]
        }
      },
      "type": "n8n-nodes-base.googleDrive",
      "typeVersion": 3,
      "position": [
        128,
        -176
      ],
      "id": "2ae7f6b1-ef33-4fa0-88d9-80295ffe580e",
      "name": "Search files and folders",
      "alwaysOutputData": false,
      "credentials": {
        "googleDriveOAuth2Api": {
          "id": "zDvo1k70I9AFa128",
          "name": "Google Drive account"
        }
      }
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={\n  \"name\": \"Return Response\",\n  \"type\": \"n8n-nodes-base.set\",\n  \"parameters\": {\n    \"fields\": {\n      \"values\": [\n        {\n          \"name\": \"output\",\n          \"stringValue\": \"File berhasil diproses dan disimpan ke knowledge base. Data sudah tersedia untuk pencarian.\"\n        },\n        {\n          \"name\": \"status\",\n          \"stringValue\": \"success\"\n        }\n      ]\n    }\n  }\n}",
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "=response: \"File berhasil diproses dan disimpan ke Pinecone Vector Store\" filesProcessed: ={{ $('Pinecone Vector Store').all().length }} status: \"success\"",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        832,
        -176
      ],
      "id": "839755b4-1c2b-4508-97c8-79bfab4705c4",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "inputSource": "jsonExample"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -48,
        -176
      ],
      "id": "d62aff5f-ea15-4077-b5a7-3c209b8f9ea4",
      "name": "When Executed by Another Workflow"
    }
  ],
  "pinData": {},
  "connections": {
    "Embeddings OpenAI": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter1": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Download file": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search files and folders": {
      "main": [
        [
          {
            "node": "Download file",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Search files and folders",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "98560989-674d-44bb-987b-553395c90540",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "2f6bb680a55db80494bf730c60c2c52cd9449c47989424d01d77d0c5ae933531"
  },
  "id": "ST8BlwkC5QQmL4ii",
  "tags": []
}